

.people-wrapper {
	
}

.pp-header-block {
display: flex;
flex-direction: row;
flex-wrap: nowrap;
justify-content: space-around;
align-items: baseline;
background-color: #FFFDE8;
line-height: 32px;
border-radius: 40px 40px 15px 15px;
}

.edudms_pt_pp_header {
font-weight: bold;
font-size: 20px;
flex-grow: 2; 
	flex-basis: 40%;
	text-align:center;
}

.person-block {
display: flex;
flex-direction: row;
flex-wrap: nowrap;
justify-content: space-around;
align-items: baseline;
border-radius: 10px 10px 10px 10px;
padding-bottom: 2px;
padding-top:2px;

	-webkit-transition: background-color 1s ease;
  -moz-transition: background-color 1s ease;
  -o-transition: background-color 1s ease;
  -ms-transition: background-color 1s ease;
  transition: background-color 1s ease;
}

div.person-block:hover {
	background-color: #E7DCBA;
	
	-webkit-transition: background-color 0.5s ease;
  -moz-transition: background-color 0.5s ease;
  -o-transition: background-color 0.5s ease;
  -ms-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
}

.show_it  {
	text-align:center;
	line-height:24px;
}

span.mobile_header {
	display:none;
	}



@media (max-width:800px) {
			.edudms_pt_pp_header {
				display:none;
			}

			.person-block {
				display: block;
				border-radius: 15px;
				border-top: medium inset lightgray;
				border-bottom: medium outset lightgray;
				line-height: 2;
				margin: .5em 0;
				padding: 0.5em 0.2em 0;
			}

			.show_it  {
				text-align: left;
			}
			
			div.name {
				text-align: left;
				font-size: 23px;
			}

			div.name a {
				font-weight: bold;
				color: #9E7E38;
				text-decoration: underline;
			}

			div.extracolumn {
				display: block;
			}
			
			span.mobile_header {
			display:inline;
			font-weight:bold;
			font-style:normal;
			}
	
}

div.wrap_it {
display: flex;
flex-direction: column;
flex-wrap: nowrap;
justify-content: space-around;
align-items: baseline;
}


.inactive_div {
display:none;	
}

.prop-1 {
	flex-grow: 1; 
	flex-basis: 20%;
}

.prop-2 {
	flex-grow: 2; 
	flex-basis: 40%;
}

.prop-3 {
	flex-grow: 3; 
	flex-basis: 60%;
}

.prop-4 {
	flex-grow: 4; 
	flex-basis: 80%;
}

div.full_name {
padding-left: 20px;
text-align: left;
}

div.name a {
font-weight: bold;
color: #9E7E38;
text-decoration: none;
}

.wrap_it div.name a:hover {
font-weight: bold;
color: #456525;
text-decoration: underline;
}

div.title {
font-style: italic;
text-align: left;
}

.wrap_it div.title {
	padding-left: 20px;
}

div.email {
text-align: left;
}

div.email a {
color: #9E7E38;
text-decoration: none;
}

div.email a:hover {
color: #456525;
text-decoration: underline;
}

.label2 {
font-weight: bold;
}

.label3 {
	font-weight: bolder;
	font-size: 18px;
}




.edudms-entry-content {
padding:10px;
}



/* TILE */

.person-block.tile {
display: flex;
flex-direction: column;
flex-wrap: nowrap;
justify-content: space-around;
align-items: baseline;
border-radius: 35px 35px 35px 35px;
padding: 10px;
max-width: 200px;

	-webkit-transition: background-color 1s ease;
  -moz-transition: background-color 1s ease;
  -o-transition: background-color 1s ease;
  -ms-transition: background-color 1s ease;
  transition: background-color 1s ease;
}

div.tile-wrapper {
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-around;
align-items: baseline;
border-radius: 35px 35px 35px 35px;
padding: 10px;
max-width: 100%;
background-color:#F1F1F1;

	-webkit-transition: background-color 1s ease;
  -moz-transition: background-color 1s ease;
  -o-transition: background-color 1s ease;
  -ms-transition: background-color 1s ease;
  transition: background-color 1s ease;
}

.person-block.tile img {
	border-radius: 15px;
}

.person-block.tile div.picture {
	width:100%;
}

.person-block.tile div.name-block {
	width:100%;
	padding:0px;
}

.person-block.tile div.full_name,
.person-block.tile div.comma_name
 {
	width:100%;
	padding:0px;
	text-align:center;
}
















.name-block {
	flex-grow: 3; 
	flex-basis: 60%;
	padding-left: 8px;
}

.edudms_pt_pp_header.name-stack-name{
	flex-grow: 3; 
	flex-basis: 60%;
	text-align:left;
	padding-left:20px;
}

.name-stack {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: baseline;
}

.table-wrapper .row-block {
display: flex;
flex-direction: row;
flex-wrap: nowrap;
justify-content: space-around;
align-items: baseline;
border-radius: 10px 10px 10px 10px;
padding-bottom: 2px;
padding-top:2px;
border-bottom: 1px solid black;
border-top: 1px solid black;

margin-bottom: 10px;


	-webkit-transition: background-color 1s ease;
  -moz-transition: background-color 1s ease;
  -o-transition: background-color 1s ease;
  -ms-transition: background-color 1s ease;
  transition: background-color 1s ease;
}

.table-wrapper div.row-block div.row-content {
	text-align:left;
	flex-basis: 70%;
	border-left: 1px dotted black;
	padding-left: 10px;
	
}

.table-wrapper .row-value {
	text-align:left;
	flex-basis: 30%;
	padding-left: 15px;
}


/*.row-content {
display: flex;
flex-direction: row;
flex-wrap: nowrap;
justify-content: space-around;
align-items: baseline;
border-radius: 10px 10px 10px 10px;
padding-bottom: 2px;
padding-top:2px;
}*/


.site img.avatar {
	border-radius: 15px 15px 15px 15px;
}

/*Profile Page Styling */
#profName {
	font-size:20px;
	font-weight:bold;
}